<!doctype html>
<html lang="en">
  <head>
    <%- partial('_partial/head') %>
  </head>

  <body class="container d-flex flex-column">
    <header class="pb-4 pt-4"  style="background-color: white;">
      <%- partial('_partial/header') %>
    </header>

    <section class="flex-grow-1" style="background-color: white;">
      <%- body %>
    </section>

    <section>
      <%- partial('_partial/comment') %>
    </section>

    <footer class="pb-4 pt-4" style="background-color: white;">
      <%- partial('_partial/footer') %>
    </footer>

    <%- partial('_partial/googleTagManager') %>
    <%- partial('_partial/auto-push') %>
  </body>
</html>