footer.footer-container

  section Copyright &copy;
    | #{new Date().getFullYear()}&nbsp;
    a(href= 'mailto:#{theme.mail}') #{config.author}
    | &nbsp;Powered by&nbsp;
    a(href= 'https://github.com/hexojs/hexo', rel= 'noopener noreferrer', target= '_blank') Hexo
    | &nbsp;Theme by&nbsp;
    a(href= 'https://github.com/zowiegong/hexo-theme-os', rel= 'noopener noreferrer', target= '_blank') OS.
    br

    //- Edit source file on github
    - if (is_post() || page.type === 'post') {
      - const sourceFile = `https://github.com/${theme.repo}/edit/master/source/${page.source}`
      a(href=sourceFile, target="_blank") Edit source file
    - }
    