
<nav>
    <section>
      <% if (theme.logo) { %>
        <a class="text-reset" href="<%= config.root %>">
          <img width="64px" height="64px" src="<%= theme.logo %>" alt="logo" />
        </a>
      <% } %> 
    </section>

    <section>
      <% if(config.title) { %>
        <a class="text-reset text-decoration-none" href="<%= config.root %>">
          <%= config.title%>
        </a>
      <% } %>

      <ul class="p-0 m-0 lh-lg mt-2">
        <% for (menuName in theme.menu) { %>
          <% const itemLink = theme.menu[menuName] %>
          <li class="list-style-none em-6 mb-1">
            <a class="text-secondary" href="<%- url_for(itemLink) %>"><%= menuName %></a>
          </li>
        <% }; %>
      </ul>
    </section>
</nav>
