head
  - const title = page.title ? page.title + ' - ' + config.title : config.title + ' - ' + config.subtitle
  - const description = is_post() ? page.excerpt || page.title : config.description
  - const keywords = (is_post() ? page.tags : site.tags).map(x => x.name).join(' ')

  title= title
  
  //- meta
  meta(name='description', content= description)
  meta(name='keywords', content= keywords)

  meta(name='subtitle', content= config.subtitle)
  meta(name='author', content= config.author)
  meta(name='language', content= config.language)
  meta(name='timezone', content= config.timezone)

  //- 移动端适配
  meta(name='viewport', content='width=device-width,initial-scale=1.0')
  
  //- Css
  !{css('css/style.css')}
  - if (is_post() || page.type === 'post') {
    !{css('css/post.css')}
  - }

  //- GA 代码，放在头部 确保准确性，没有依赖可使用 async 异步执行
  - if (theme.googleAnalytics) {
    script(src="https://www.googletagmanager.com/gtag/js?id=#{theme.googleAnalytics}", async)
    script function gtag(){dataLayer.push(arguments)}window.dataLayer=window.dataLayer||[],gtag("js",new Date),gtag("config","#{theme.googleAnalytics}");
  - }