//- 日期渲染
mixin renderDate (date, className)
  time(class= '#{className}') #{date.format('YYYY-MM-DD')}


//- 导航栏渲染
mixin renderMenu ()
  ul.menu-list
    - for (menuName in theme.menu) {
      - const itemLink = theme.menu[menuName]
      li.menu-list-item
        a.menu-name(href='#{url_for(itemLink)}') #{menuName}
    - }


//- 文章列表渲染
mixin renderPostList (list)
  ul.list
    - list.forEach(post => {
      li.list-item
        a.item-name.post-name(href='#{url_for(post.path)}') #{post.title}
        +renderDate(post.date, 'post-date')
    - })


//- 文章目录渲染
mixin renderFolderList (list)
  ul.list
    - list.forEach(folder => {
      li.list-item
        a.item-name(href='#{url_for(folder.path)}', class= 'folder-name') #{folder.name}
        i.folder-count (#{folder.length})
    - })


//- 文章标签渲染
mixin renderTagList (list)
  - if (list && list.length) {
    ul.tag-list
      - list.forEach(tag => {
        li.tag-item
          a.tag-name(href='#{url_for(tag.path)}') ##{tag.name}
      - })
  - }